global:
  checkNewVersion: false
  sendAnonymousUsage: false

entryPoints:
  http:
    address: ":80"
  mqtts:
    address: ":8883"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

api:
  dashboard: false
  insecure: false

log:
  level: INFO
  filePath: "/var/log/traefik.log"

accessLog:
  filePath: "/var/log/access.log"
